<div class="container inbox-email">
  <br/>
  <br/>
    <div class="row navbar admin-nav">
        <ul class="nav navbar-nav">
          <li><br/></li>
          <li>
            <a href="<%= mail_url %>" >
              <i class="fa fa-gear"></i>
            </a>
          </li>
          <li class="nav-label">
            <a href="#">
              Inbox Summary
            </a>
          </li>
          <li>
            <a href="<%= mail_url %>" role="button">Admin Config</a>
          </li>
          <li>
            <a href="<%= mail_url %>" role="button">Attachment Files</a>
          </li>
        </ul>
    </div>
    <div class="row">
     <div class="alert alert-danger alert-dismissable hide">
       <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times</button>
       <div id="alert-text"></div>
     </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-default" id="process_inbox" data-url="<%= process_inbox_mail_url%>">Process Inbox</button>
            <button class="btn btn-default" id="reload_mail" data-url="<%=    reload_mail_url%>">Reload</button>
            <button class="btn btn-default" id="reset_mail" data-url="<%=    reset_mail_url%>">Reset</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row"></div>



    <table class="table table-hover table-condensed" id="email_table"
           data-url-uid="<%= mail_url %>"
           data-url-headers="<%= list_mail_url %>"
           data-url-delete="<%= remove_mail_url %>"
           data-url-archive="<%= archive_mail_url %>"
           data-url-process="<%= handle_mail_mail_url %>"
           data-url-validity="<%= mail_url %>">
    <tbody>
    </tbody>
    </table>
</div>